input {
    overflow: hidden;
    height: 100px;
    width: 100%;
    padding: 30px;
    border: solid black 6px;
    border-radius: 16px;
    box-shadow: -5px 3px 0px 3px rgba(0, 0, 0, 1);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 1;
    font-size: 36px;
    font-family: "Luckiest Guy", cursive;
    font-style: normal;
    font-weight: 400;
    color: #CDCDCD;
    


    &:active,
    &:focus {
        outline: none;
    }

    &:not(:placeholder-shown) {
        -webkit-text-stroke: 3px black;
        paint-order: stroke fill;
        font-size: 40px;
        letter-spacing: 1.8rem;
        text-align: center;
    }

    &:placeholder-shown {

        color: #CDCDCD;
        font-size: 20px;

    }


}