.container{
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // padding: 20px;
    gap: 60px;
    overflow-x: hidden;
    padding-top: 30px;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    height: 60px;
    transition: 0.3s;
}

.winner{
    height: 150px;
    transition: 0.3s;
}