.sqr {
    height: 95%;
   aspect-ratio: 1/1;
    background-color: var(--light-gray);
    border: black solid 8px;
    border-radius: 16px;
    box-shadow: -3px 3px 0px 3px rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    margin: 1px;

    img {
        height: 90%;
        max-height: 90%;
        aspect-ratio: 1/1;
    }
}

.active {
    background-color: var(--square-color);

    &:hover {
        cursor: pointer;
    }
}