.player {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 25%;
    z-index: 8;
}

.winning {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    transition: 0.3s;

    .name{
        font-size: 40px;
        text-align: center;
        -webkit-text-stroke: 3px #4B4B4B;
        paint-order: stroke fill;
        // width: min-content;
        max-width: 200px;
    }

    .relative {
        position: relative;
        transform: scale(1.3);
    }
    
    .absolute {
        transform: scale(0.8);
    }

}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    bottom: -10%;
    left: 12%;
}

.wins {
    white-space: nowrap;
    padding: 13px;
    height: 20px;
    // width: 60px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Kavoon", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 10px;
    background-color: black;
    position: relative;
    margin-left: 8px;
    z-index: 1;
    letter-spacing: 0;
}

.symble {
    position: absolute;
    // height: 25px;
    width: 35px;
    aspect-ratio: 1;
    left: -15%;
    bottom: -1px;
    z-index: 2;
}

.name {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    -webkit-text-stroke: 3px #4B4B4B;
    paint-order: stroke fill;
    font-size: 15px;

    &.turn {
        font-size: 23px;
    }
}

.avatar {
    height: 100px;
    aspect-ratio: 1/1;
    border: #B28100 solid 3px;
    border-radius: 100%;
    z-index: 0;
    overflow: visible;
    background-color: white;

    &.turn {
        height: 130px;
        border: #8EEBFF solid 7px;
    }

}