.player {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 25%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    bottom: -10%;
    left: 25%;
}

.wins {
    height: 20px;
    width: 50px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Kavoon", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 10px;
    background-color: black;
    position: relative;
    margin-left: 8px;
    z-index: 1;
}

.symble {
    position: absolute;
    height: 25px;
    width: 25px;
    left: -15%;
    bottom: 0;
    z-index: 2;

}

.name {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    -webkit-text-stroke: 7px #4B4B4B;
    paint-order: stroke fill;
    font-size: 25px;
    &.turn{
        font-size: 30px;

    }


}

.avatar {
    height: 100px;
    aspect-ratio: 1/1;
    border: #B28100 solid 3px;
    border-radius: 100%;
    z-index: 0;
    overflow: visible;
    background-color: white;
    &.turn {
        height: 130px;
        border: #8EEBFF solid 7px;
    }

}

