@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
}
:root{
    --bg-color: rgba(61, 122, 214, 1);
    --square-color: rgba(201, 249, 252, 1);
    --btn-color: rgba(252, 208, 21, 1);
    --btn-sub-color: rgba(251, 181, 0, 1);
    --btn-text-border: rgba(178, 129, 0, 1);
    --light-gray: rgba(209, 209, 209, 1);
    --dark-gray: rgba(155, 155, 155, 1);
}