.menu {
    margin: auto;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20%;
    background-color: var(--bg-color);

    img {
        width: 65%;
        filter: drop-shadow(0 0 50px rgb(77, 208, 255)) drop-shadow(0 0 50px rgb(77, 208, 255));
    }
}

.buttons {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 50px;

}